<!DOCTYPE html>
<html>
<title>SG FASHIONS - fashion that makes a statement</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://www.w3schools.com/lib/w3.js">
    const img = new Image();
    img.onload = () => {
        // Do something when the image is loaded
    };
    <img src="/hello/bio/image.jpg" alt="My Image">
    
    

</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
</style>
<body>
<!-- Start Content -->
<div id="home" class="w3-content">

<!-- Navbar (Sits on top) -->
<div class="w3-top w3-bar w3-xlarge w3-black w3-opacity-min">
<a href="#home" class="w3-bar-item w3-button">HOME</a>
<a href="#menu" class="w3-bar-item w3-button">MENU</a>
<a href="#about" class="w3-bar-item w3-button">ABOUT</a>
<a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
</div>

<!-- Header image -->
<div style="height:400px;background-image:url('../hello/templates/image.jpg');background-size:cover" class="w3-display-container w3-grayscale-min">
    <img src="/hello/bio/image.jpg" alt="My Image" style="width:150px" ></p>
    
    <div class="w3-display-bottomleft">
<span class="w3-tag w3-xlarge">Open from 10am to 5pm</span>
</div>
<div class="w3-display-middle w3-center">

<p><a href="#menu" class="w3-button w3-xxlarge w3-black">Let me see the DESIGNS</a></p>
</div>
</div>
<!-- Menu -->
<div id="menu" class="w3-container w3-black w3-xxlarge w3-padding-64">
    <h1 class="w3-center w3-jumbo w3-padding-32">THE MENU</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey">
    <a href="#pizza"><div class="w3-third w3-padding-large w3-red">TRENDY SAREES</div></a>
    <a href="#pasta"><div class="w3-third w3-padding-large w3-hover-red">SILK SAREES</div></a>
    <a href="#starters"><div class="w3-third w3-padding-large w3-hover-red">AARI WORKS</div></a>
    </div>
    
    <div id="pizza" class="w3-container w3-white w3-padding-32">
    <h1><b>Brazzo</b> <span class="w3-right w3-tag w3-dark-grey w3-round">BUY NOW</span></h1>
    <p class="w3-text-grey">light weighted and easy to wear cotton blend material which is custamizable</p>
    <hr>
    
    <h1><b>Chiffon Sarees</b> <span class="w3-right w3-tag w3-dark-grey w3-round">BUY NOW</span></h1>
    <p class="w3-text-grey">Sheer and lightweight, chiffon sarees are easy to drape and carry</p>
    <hr>
    
    <h1><b>Linen Sarees</b> <span class="w3-tag w3-red w3-round">Hot!</span>
    <span class="w3-right w3-tag w3-dark-grey w3-round">BUY NOW</span></h1>
    <p class="w3-text-grey">Breathable and comfortable, linen sarees come in various textures</p>
    </div>
    
    <h1 id="pasta" class="w3-center w3-jumbo w3-padding-32">SILK SAREES</h1>
    <div class="w3-container w3-white w3-padding-32">
    
    <h1><b>Banarasi Silk</b> <span class="w3-tag w3-grey w3-round">Popular</span>
    <span class="w3-right w3-tag w3-dark-grey w3-round">BUY NOW</span></h1>
    <p class="w3-text-grey">Originating from Varanasi, Banarasi silk sarees are renowned for their heavy brocade work </p>
    <hr>
    
    <h1><b>Kancheepuram Silk</b> <span class="w3-right w3-tag w3-dark-grey w3-round">BUY NOW</span></h1>
    <p class="w3-text-grey"> Ideal for weddings and festive occasions made with pure mulberry</p>
    <hr>
    
    <h1><b>Tussar Silk</b> <span class="w3-right w3-tag w3-dark-grey w3-round">BUY NOW</span></h1>
    <p class="w3-text-grey"> Lightweight with a natural golden sheen suitable for both formal and casual events</p>
    </div>
    
    <h1 id="starters" class="w3-center w3-jumbo w3-padding-32">KIDS</h1>
    <div class="w3-container w3-white w3-padding-32">
    
    <h1><b>Bridal works</b> <span class="w3-tag w3-grey w3-round">Seasonal</span>
    <span class="w3-right w3-tag w3-dark-grey w3-round">place order</span></h1>
    <p class="w3-text-grey">creative and attractive designs which makes you feel graceful</p>
    <hr>
    
    <h1><b>Party works</b> <span class="w3-right w3-tag w3-dark-grey w3-round">place order</span></h1>
    <p class="w3-text-grey">simple and elegant designing which makes the day bright!</p>
    <hr>
    
    <h1><b>special touch</b> <span class="w3-right w3-tag w3-dark-grey w3-round">place order</span></h1>
    <p class="w3-text-grey">for a breathtaking moment! from our unique touch!</p>
    </div>
    </div>
<!-- About -->
<div id="about" class="w3-container w3-red w3-grayscale w3-xlarge w3-padding-64">

    <h1 class="w3-center w3-jumbo">About</h1>
    
    <p>The SG FASHIONS is a fashion desinging company. Had sucessfully finished 1200+ projects which includes bridal projects too. We are having a vibrant team with creative and innovative mind! </p>
    
    <p><strong>THE CHIEF DESIGNER</strong> Ms. N. Suriya herself
    <img src="C:\Users\savit\OneDrive\Desktop\Django\hello\templates\image.jpg" style="width:150px" class="w3-circle w3-right" alt="Suriya"></p>
    
    <p>We are proud of our designers.</p>
    <p class="w3-padding-16 w3-stretch">
    </p>
    <h1><b>Opening Hours</b></h1>
    
    <div class="w3-row">
    <div class="w3-half">
    <p>Mon &amp; Tue CLOSED</p>
    <p>Wednesday 10.00 - 24.00</p>
    <p>Thursday 10:00 - 24:00</p>
    </div>
    <div class="w3-half">
    <p>Friday 10:00 - 12:00</p>
    <p>Saturday 10:00 - 23:00</p>
    <p>Sunday Closed</p>
    </div>
    </div>
    
    </div>
    <!-- Contact -->
<img id="contact" src="map.jpg" class="w3-image w3-greyscale" alt="Map" style="width:100%">

<div class="w3-container w3-blue-grey w3-grayscale-min w3-xlarge w3-padding-top-32">

<h1 class="w3-center w3-jumbo">Contact</h1>

<p> call us at +91 9566219202</p>


<p class="w3-xxlarge"><b>PLACE YOUR ORDER</b> just fill the bellow details we will contact you!!</p>

<form action="/action_page.php" target="_blank">

<p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>

<p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="phone number" required name="phone"></p>

<p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>

<p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message \ Special requirements" required name="Message"></p>

<p><button class="w3-button w3-light-grey w3-block" type="submit">SEND MESSAGE</button></p>

</form>


</div>
<!-- End Content -->
</div>
</body>
</html>